s<!DOCTYPE html>
<html ng-app="gallery">
  <head>
    <title>{{ store.name }} &mdash; {{ page.name }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">

    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>

    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css'>
    <script src="{{ theme | theme_js_url }}" type="text/javascript"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {{ head_content }}
  </head>

  <body id="{{ page.permalink }}" class="{{ page.category }}">
    <header>
      <a href="/" title="{{ store.name | escape }}">
        {% if theme.logo != blank %}
        <img src="{{ theme_image_url }}" alt="{{ store.name }}">
        {% else %}
        <img src="{{ image_image_url }}" alt="{{ store.name }}">
        {% endif %}
      </a>
      <nav id="main-nav" role="navigation">
        <ul class="nav-items">
          <li id="gallery" {% if page.full_url contains ‘/gallery’ %}class="selected"{% endif %}>
            <a href="/gallery"></a>
          </li>
          <li id="shop" {% if page.full_url contains ‘/products’ %}class="selected"{% endif %}>
            <a href="/products"></a>
          </li>
          <li id="tour" {% if page.full_url contains ‘/tour’ %}class="selected"{% endif %}>
            <a href="/tour"></a>
          </li>
          <li id="news" {% if page.full_url contains ‘/news’ %}class="selected"{% endif %}>
            <a href="https://www.facebook.com/RAEVENAartist" target="_blank"></a>
          </li>
          <li id="about" {% if page.full_url contains ‘/about’ %}class="selected"{% endif %}>
            <a href="/about"></a>
          </li>
          <li id="contact" {% if page.full_url contains ‘/contact’ %}class="selected"{% endif %}>
            <a href="/contact"></a>
          </li>
<!--  -->
        </ul>
      </nav>

    </header>

    <div class="wrap-outer">
      <div class="wrap">
        <section id="content" class="content">

          {% if errors != blank %}
          <ul class="unstyled errors">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if page.category == 'custom' %}
            {{ page_content | paragraphs }}
          {% else %}

            {{ page_content }}
          {% endif %}
        </section>
      </div>
    </div>
      <div class="image-footer"></div>
    <footer>
    <ul class="unstyled social menu-horizontal">
      <li {% if page.full_url contains ‘/cart’ %}class="selected”{% endif %}><a href=“/cart"><span class="fa fa-3x fa-shopping-cart"></span><span class="text">Cart</span></a></li>
      {% if theme.twitter_username != blank %}
      <li><a href="http://twitter.com/{{ theme.twitter_username }}" title="Follow us on Twitter"><span class="fa fa-3x fa-twitter"></span><span class="text">Twitter</span></a></li>
      {% endif %}
      <li><a href="http://facebook.com/artist-rae-vena" title="Rae Vena on Facebook"><span class="fa fa-3x fa-facebook"></span><span class="text">Facebook</span></a></li>
      <li><a href="http://instagram.com/raevena" title="Instagram"><span class="fa fa-3x fa-instagram"><span class="text">Instagram</span></a></li>
    </ul>
    </footer>
  </body>
</html>
